.Note {
  color: #bcc5fa;
  box-shadow: 0.15rem 0.15rem 0.5rem #1f212c;
  /* display: grid;
  grid-auto-flow: column;
  gap: 0.1rem;
  grid-template-columns: 1fr 2fr 3fr 1fr; */
}
.td{
  box-sizing: border-box;
  height: 1.7rem;
  width: auto;
  padding: 0.2rem;
  border-radius: 0.2rem;
  background-color: #3e435b;
  overflow: hidden;
}
.Note :first-child{
  /* display: inline-block; */
  width: 5rem;
  overflow: hidden;
}
.Note :nth-child(2){
  /* display: inline-block; */
  width: 8rem;
  overflow: hidden;
}
.Note :nth-child(3){
  display: inline-block;
  width: 8rem;
  overflow: hidden;
}
.icon-trash{
  color: #5c3333;
  font-size: 1.2rem;
  margin: 0rem;
  padding: 0rem;
}