.Note {
  color: #bcc5fa;
  box-shadow: 0.15rem 0.15rem 0.5rem #1f212c;
  height: auto;
  width: 24rem;
  margin: 0 auto 0.2rem auto;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  gap: 0.1rem;
  grid-template-columns: 2fr 4fr 4fr auto;
}
.Note p{
  box-sizing: border-box;
  height: 1.7rem;
  width: auto;
  padding: 0.2rem;
  border-radius: 0.2rem;
  background-color: #3e435b;
  overflow: hidden;
}
.icon-edit{
  color: #2d552d;
  font-size: 1.2rem;
  margin: auto 0 auto 0;
  padding: 0;
}
.icon-trash{
  color: #5c3333;
  font-size: 1.2rem;
  margin: auto 0 auto 0;
  padding: 0;
}