.Itools {
    box-sizing: border-box;
    min-height: 15rem;
    width: 12rem;
    margin: 0rem;
    padding-top: 2.5rem;
    position: absolute;
    top: 10vh;
    right: 0rem;
}
.itools_button{
    color: white;
    height: 2rem;
    width: auto;
    margin: 0rem;
    padding: 0.2rem;
    position: absolute;
    top: 0rem;
    right: 0rem;
    background-color: #36425a;
    border: none;
    border-radius: 0.2rem;
    z-index: 10;
}
.Itools_icon{
    font-size: 1.5rem;
}
.containerItools{
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
    height: auto;
    width: auto;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    background-color: transparent;
}