.Cronometro {
    display: inline-block;
    height: 3.5rem;
    width: 8rem;
    margin: 0px;
    padding: 0px;
    border: 0.2rem solid white;
    border-radius: 0.5rem;
    background-color: rgb(30, 34, 45);
}
.cronometro_button{
    color: white;
    height: auto;
    width: auto;
    margin: 0px 0.1rem;
    padding: 0rem;
    background-color: inherit;
    border: none;
}
.cronometro_icon{
    color: #070e2b;
    font-size: 1.5rem;
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
}
.cronometro_icon:hover{
    color: #071137;
    font-size: 1.5rem;
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
}