.HomeBody {
    color: white;
    position: relative;
    box-sizing: border-box;
    min-height: 80vh;
    width: auto;
    margin: 0rem;
    padding: 0.3rem 0 0 0;
    background-color: #282c34;
}
.note-icon{
  color: #273045;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}
.prueba{
  color:red;
  background-color: red;
}