*{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::-webkit-scrollbar{
  -webkit-appearance: none;
}
*::-webkit-scrollbar:vertical {
  width:0.3rem;
}
*::-webkit-scrollbar:horizontal {
  height: 0.2rem;
}
*::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
  display: none;
}
*::-webkit-scrollbar-thumb {
  background-color: #79797980;
  border-radius: 0.2rem;
}
*::-webkit-scrollbar-track{
  border-radius: 0;
  background-color: #38456682;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}